body {
    font-family: "Times New Roman", Times, serif;
    background-image: url(https://therevolution.nyc3.cdn.digitaloceanspaces.com/brewster_images/DD139177.jpg);
    font-family: 'Patrick Hand', cursive;
  }
  
  header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.76);
    margin-left: 25%;
    margin-right: 25%;
    color: #ffff;
    border-radius: 20px;
  }
  header h1{
    font-size: 36px;
  }

  header p{
    font-style: italic;
    font-size: 24px;
  }

  form {
    background-color: rgba(15, 14, 14, 0.8);
    margin: 10px 25% 10px 25%;
    padding: 10px 25px 10px 35px;
    color: #ffff;
    font-size: 23px;
    border-radius: 5px;
  }
  
  label,
  input,
  select {
    margin-bottom: 15px;
    margin-top: 8px;
  }
    
  .firstPart {
    width: 90%;
    height: 25px;
  }
  textarea {
    width: 90%;
    margin-top: 20px;
  }
  
  .submit {
    width: 90%;
    height: 40px;
    background-color: rgb(11, 29, 29);
    font-weight: bolder;
    color: #ffff;
    font-size: 25px;
    margin-bottom: 50px;
  }
  
  select {
    width: 90%;
    height: 35px;
  }

  .bold{
    font-weight: 500;
    font-size: 25px;
  }
  